core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
node_modules/
.github/
cloudinary_python.txt
kaggle.json
*.ipynb
input/cherry_leaves_dataset/cherry-leaves/test
input/cherry_leaves_dataset/cherry-leaves/train